.video {
  padding: 15px 10px;
}

.video.grid {
  flex-basis: 25%;
}

.video.list {
  flex-basis: 100%;
  padding: 10px 0;
}

.video.list .box {
  display: flex;
  align-items: center;
}

.video.list .box .thumbnail {
  width: 150px;
}

.video.list .box .text {
  width: calc(100% - 150px);
  padding: 0 10px;
}

.box {
  height: 100%;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.5s;
}

.box:hover {
  background-color: lightyellow;
}

.box:hover .thumbnail > img {
  transform: scale(1.05);
}

.thumbnail {
  overflow: hidden;
}

.thumbnail > img {
  display: block;
  width: 100%;
  transition: transform 0.5s;
}

.text {
  padding: 15px 10px;
}

.text .title {
  font-size: 1rem;
  font-weight: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.text .channel {
  font-size: 0.875rem;
  color: #999;
}

@media (max-width: 1024px) {
  .video.grid {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }
}

@media (max-width: 768px) {
  .video.grid {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .video.grid {
    flex-basis: 100%;
    max-width: 100%;
  }
}
