.container {
  display: flex;
  justify-content: center;
  padding: 0 80px;
}

.detail {
  flex-grow: 1;
  padding-right: 24px;
}

.grid {
  margin: 0 -15px;
}

.list {
  width: 400px;
  min-width: 400px;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 1024px) {
  .container {
    display: block;
  }

  .detail {
    padding-right: 0;
  }

  .list {
    width: 100%;
    min-width: auto;
  }
}
